<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!-- Add this element -->
  <configSections>
    <section
        name="hibernate-configuration"
        type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
  </configSections>

  <!-- Add this element -->
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <!--定制数据库IDriver的类型.-->
      <property name="connection.driver_class">NHibernate.Driver.MySqlDataDriver</property>
      <!--连接字符串-->
      <property name="connection.connection_string">
        Database=test;Data Source=127.0.0.1;User Id=root;Password=root
      </property>
      <!--NHibernate方言（Dialect）的类名 - 可以让NHibernate使用某些特定的数据库平台的特性-->
      <property name="dialect">NHibernate.Dialect.MySQLDialect</property>
      <!--指定映射文档中所在程序集-->
      <mapping  assembly="MVCNhibernate.Domain"/>
    </session-factory>
  </hibernate-configuration>

  <!-- Leave the other sections unchanged -->
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>